<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
	    <h3>送信が完了しました</h3>
	    <p>内容は以下の通りです。</p>
	  <div class="field row">
	   <p>[タイトル]</p> 
	   <p><%= @title %></p>
    </div>

    <div class="field row">
      <p>[本文]</p>
      <p><%= @content %></p>
    </div>

</div>
