<h3>検索結果</h3>
<table class="table">
    <thead>
        <tr>
            <th>投稿数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%= books.count %></th>
        </tr>
    </tbody>
</table>